:root{
    --orange:#ff7800;
    --color-primary: #3DB2FF;
}
nav:not(.mm-menu) {
    display: none;
}

#header {
    position: sticky;
    height: 80px;
    padding: 0 80px;
    top: -100px;
    font-size: 16px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999999;
    transition: 2s ease-out;
}

#header.active_top {
    position: sticky;
    top: 0;
    transition: 2s ease-out ;
}

#header .menu .flex-menu ul li {
    list-style: none;
    padding: 0 20px;
}

#header .menu .flex-menu ul li  a {
    color: var(--color-primary);
    font-size: 1rem;
}

#header #logo::before,
#header .menu_burger,
#header .menu .flex-menu ul li a::before,
#header .menu .flex-menu ul li a::after,
#header #logo::after {
    display: none;
}
#header .menu_burger a#hambuger {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 80px;
    height: 50px;
    padding: 15px 25px;
}
#header .menu .flex-menu ul {
    display: flex;
    align-items: center;
}
#header a:before,
#header a:after {
    content: "";
    display: block;
    background: #fff;
    height: 2px;
}

#header a span {
    background: #fff;
    display: block;
    height: 2px;
    margin: 7px 0;
}

@media screen and (max-width: 900px){
    #header {
        padding: 0;
    }
    #header .menu_burger,
    #header .menu_burger a#hambuger {
        display: block;
    }
    #header .menu,
    #header .menu .flex-menu {
        display: none;
    }
    #header {
        padding-right: unset;
    }
    #header .search-group {
        padding-right: 25px;
    }
    #header a span,
    #header a::before,
    #header a::after {
        background-color: var(--color-primary);
    }
    
}
